## q1

In [319]:
import numpy as np
import pandas as pd

print(pd.__version__)

1.5.3

## q2

In [320]:
fUrl = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
df = pd.read_csv(fUrl)
print(df.shape)

(20640, 10)

## q3

In [321]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

## q4

In [322]:
df.ocean_proximity.nunique()

5

## q5

In [323]:
df.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [324]:
mean_value = df[df.ocean_proximity == 'NEAR BAY'].median_house_value.mean()
print(mean_value)

259212.31179039303

## q6

In [325]:
df.total_bedrooms.fillna(mean_value, inplace=True)

In [326]:
df[df.ocean_proximity == 'NEAR BAY'].median_house_value.mean()

259212.31179039303

## q7

In [327]:
df = df[df.ocean_proximity == "ISLAND"]
df = df[["housing_median_age", "total_rooms", "total_bedrooms"]]
x = df.values
xtx = np.dot(x.T, x)
xtx_inv = np.linalg.inv(xtx)
y = np.array([950, 1300, 800, 1000, 1300])
w = np.dot(np.dot(xtx_inv, X.T), y)
print(w[-1])

5.699229455065586